<h1 class="jquery">Welcome to <span class="glyphicon glyphicon-book"></span>Bookers!</h1>

<div id="container" class="js_test">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	</div>
</div>